<meta charset="UTF-8">
<title>
    BSD - British Song Discovery
</title>
<link rel = "stylesheet" href="stylesheets/styles.css">
<link rel = "stylesheet" href="stylesheets/font-awesome-4.6.1/css/font-awesome.css">
<body id="body">
    <header>
        <nav>
            <a href="/" >Home</a>
            <a href="/login">Log in</a>
            <a href="/logout">Log out</a>
            <a href="/signup">Sign up</a>
            <a href="/artists">Collection</a>
            <a href="/play">Play</a>
        </nav>
    </header>
</body>
<script>

</script>
