<div id="play">
    <form method="POST">
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-music fa-fw" aria-hidden="true"></i></span>
            <input class="form-control" type="text" placeholder="Title" name="title">        
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-microphone fa-fw" aria-hidden="true"></i></span>
            <input class="form-control" type="text" placeholder="Artist" name="artist">                
        </div>
        <div>
            <input type="hidden" name="answer_artist" value="<%=song.artist%>">
            <input type="hidden" name="answer_title" value="<%=song.title%>">
            <input type="hidden" name="paragraph" value="<%=song.paragraph%>">
        </div>
        <div>
        <span class="button"><i class="fa fa-check fa-fw" aria-hidden="true"></i></span>
        <input type="submit" name="verify" value="Verify">
        </div>
    </form>
    <audio controls="controls">
        <source src="<%=song.soundPath%>" type="audio/mp3" />
         Votre navigateur n'est pas compatible
    </audio>
</div>