<body>
        <h1>Well Done</h1>
        <p>You have unlocked the song <%=title%> from the artist <%=artist%>!</p>
        <p><%=paragraph%></p>
        <br>
        <p> <a href="/play">Test another song!</a></p>


</body>
