<body>
        <h1>Congratulations!</h1>
        <p>You have unlocked all the songs!</p><br>
        <p>Hope you have enjoyed this and that you discovered lots of trivia about british music!</p>
        <br>
        <p>Go to <a href="/artists">collection</a></p>
</body>
